# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# Alterantively (recomended) mamba or micromamba can also be used
# $ mamba create --name <env> --file <this file>
# platform: linux-64
ase
tomlkit
qe
packmol
mdanalysis
tblite
tblite-python
# torchani

